            <!-- navigation starts -->
            <div id="myNavbar" class="navbar navbar-toggleable-md bg-inverse fixed-top " role="navigation">
                <!-- navigation header -->
                <div class="container">
                    <!-- start button-->
                    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target=".navbar-collapse" id="bar-button">&#x2630;
                    <!-- end button -->
                     </button>
                    <a href="#" class="navbar-brand">AGPROMA</a>
                    <div class="navbar-collapse collapse">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item"> <a href="#header" pageScroll class="nav-link">Home</a>
                            </li>
                            <li class="nav-item"> <a pageScroll href="#services" class="nav-link">Services</a>
                            </li>
                            <li class="nav-item"> <a pageScroll class="nav-link" href="#pricing">Scrum</a>
                            </li>
                            <li class="nav-item"> <a pageScroll href="#team" class="nav-link">Team</a>
                            </li>
                            <li class="nav-item"> <a pageScroll href="#client" class="nav-link">Client</a>
                            </li>
                            <li class="nav-item"> <a pageScroll href="#contact" class="nav-link">Contact</a>
                            </li>
                        </ul>
                    </div>
                    <!-- end container -->
                </div>
            </div>
            <!-- end navigation -->
            <!-- HEADER -->
            <div id="header" class="header">
                <!-- header container -->
                <div class="container">
                    <div class="row">
                        <div class="col-xl-6 col-lg-6 wow bounceInLeft" data-wow-delay="0.4s">
                            <h1>AGILE PROJECT MANAGEMENT</h1>
                            <p>Agile software development describes a set of values and principles for software development under which requirements
                                and solutions evolve through the collaborative effort of self-organizing cross-functional teams.</p>
                            <button class="snip1434" routerLink="/app-signup/:id">Getting Started<i class="ion-clipboard"></i>
                                    </button>
                        </div>
                        <div class="col-xl-6 col-lg-6 wow bounceInRight" data-wow-delay="0.8s">
                            <img src="../../assets/images/header.png" alt="">
                        </div>
                    </div>
                    <!-- end container -->
                </div>
            </div>
            <!-- end header -->
            <!-- SERVICES -->
            <div id="services" class="services">
                <!-- services container -->
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 wow fadeInUp" data-wow-delay="0.6s">
                            <h2>Services</h2>
                            <p><strong>Provided by us</strong>
                            </p>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-3 wow fadeInLeft" data-wow-delay="1.8s"><i class="fa fa-desktop" aria-hidden="true"></i>
                            <h4> Project Management</h4>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-3 wow fadeInLeft" data-wow-delay="1.4s"><i class="fa fa-mobile" aria-hidden="true"></i>
                            <h4> Efficiency Calculation</h4>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-3 wow fadeInLeft" data-wow-delay="0.8s"><i class="fa fa-database" aria-hidden="true"></i>
                            <h4> Cost Management</h4>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-3 wow fadeInLeft" data-wow-delay="0.4s"><i class="fa fa-clock-o" aria-hidden="true"></i>
                            <h4> Time Management</h4>
                        </div>
                    </div>
                    <!-- end container -->
                </div>
            </div>
            <!-- end services -->
            <!-- pricing -->
            <div id="pricing" class="pricing">
                <!-- pricing container -->
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 wow fadeInUp" data-wow-delay="0.6s">
                            <h2 class="scrum"> Scrum At A Glance </h2>
                        </div>
                        <div class="col-lg-3 wow flipInY" data-wow-delay="0.8s">
                            <div class="packages">
                                <h4> What Is </h4>
                                <h2> AGILE </h2>
                                <hr>
                                <p>Agile software development refers to a group of software development methodologies based on iterative development,
                                    where requirements and solutions evolve through collaboration between self-organizing cross-functional teams.</p>
                            </div>
                        </div>
                        <div class="col-lg-3 wow flipInY" data-wow-delay="1.2s">
                            <div class="packages">
                                <h4> What Is </h4>
                                <h2> Project </h2>
                                <hr>
                                <p>A project is an individual or collaborative enterprise, involving research or design, that is carefully planned, usually
                                    by a project team, to achieve a particular aim. A project may also be a set of interrelated tasks to be executed over
                                    a fixed period.</p>
                            </div>
                        </div>
                        <div class="col-lg-3 wow flipInY" data-wow-delay="1.6s">
                            <div class="packages">
                                <h4> What Is </h4>
                                <h2> Scrum </h2>
                                <hr>
                                <p>Scrum is a framework for managing software development. 
                                    It is designed for teams of three to nine developers who break their work into actions that can be completed within fixed duration cycles, track progress and re-plan, and collaborate to deliver workable software every sprint.
                                </p>
                            </div>
                        </div>
                        <div class="col-lg-3 wow flipInY" data-wow-delay="2s">
                            <div class="packages">
                                <h4> What Is</h4>
                                <h3 id="management"><strong>Management</strong></h3>
                                <hr>
                                <p>Management is the administration of an organization, whether it is a business or a not-for-profit organization .The
                                    term management also refer to those people who manage organization. Social scientists sees management as discipline.
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- end container -->
                </div>
            </div>
            <!-- end pricing -->
            <!-- team -->
            <div id="team" class="team">
                <!-- team container -->
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 wow fadeInUp" data-wow-delay="0.6s">
                            <h2> Meet our Team </h2>
                            <p>Full Stack Developers</p>
                        </div>
                        <div class="col-xl-2 col-lg-2 wow fadeInLeft" data-wow-delay="2.8s">
                            <img src="../../assets/images/member1.png" class="rounded-circle" alt="">
                            <h4> Kajal Agnihotri </h4>
                            <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                        </div>
                        <div class="col-xl-2 col-lg-2 wow fadeInLeft" data-wow-delay="2.4s">
                            <img src="../../assets/images/member2.png" class="rounded-circle" alt="">
                            <h4> Anupma Abrol </h4>
                            <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                        </div>
                        <div class="col-xl-2 col-lg-2 wow fadeInLeft" data-wow-delay="2s">
                            <img src="../../assets/images/member3.JPG" class="rounded-circle" alt="">
                            <h4> Param Kewale </h4>
                            <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                        </div>
                        <div class="col-xl-2 col-lg-2 wow fadeInLeft" data-wow-delay="1.6s">
                            <img src="../../assets/images/member4.jpg" class="rounded-circle" alt="">
                            <h4> Aabhaas Malhotra </h4>
                            <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                        </div>
                        <div class="col-xl-2 col-lg-2 wow fadeInLeft" data-wow-delay="1.2s">
                            <img src="../../assets/images/member5.jpg" class="rounded-circle" alt="">
                            <h4> Lakshya Mathur </h4>
                            <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                        </div>
                        <div class="col-xl-2 col-lg-2 wow fadeInLeft" data-wow-delay="0.8s">
                            <img src="../../assets/images/akash.jpeg" class="rounded-circle" alt="">
                            <h4> Akash Goyal </h4>
                            <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                        </div>
                        <div class="col-xl-2 col-lg-2 offset-md-3 wow fadeInLeft" data-wow-delay="2.4s">
                            <img src="../../assets/images/member7.jpg" class="rounded-circle" alt="">
                            <h4> Akshay Kumar </h4>
                            <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                        </div>
                        <div class="col-xl-2 col-lg-2 wow fadeInLeft" data-wow-delay="2s">
                            <img src="../../assets/images/member8.jpg" class="rounded-circle" alt="">
                            <h4> Ishu Tripathi </h4>
                            <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                        </div>
                        <div class="col-xl-2 col-lg-2 wow fadeInLeft" data-wow-delay="1.6s">
                            <img src="../../assets/images/member9.jpg" class="rounded-circle" alt="">
                            <h4> Preetam Singh </h4>
                            <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                        </div>
                    </div>
                    <!-- end container -->
                </div>
            </div>
            <!-- end team -->
            <!-- clients -->
            <div id="client" class="clients">
                <!-- clients container -->
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 wow fadeInUp" data-wow-delay="0.6s">
                            <h2> Trusted By </h2>
                        </div>
                        <div class="col-xl-3 col-lg-3 wow fadeInLeft" data-wow-delay="2s">
                            <li>
                                <img src="../../assets/images/trust.png" alt="">
                            </li>
                        </div>
                        <div class="col-xl-3 col-lg-3 wow fadeInLeft" data-wow-delay="1.6s">
                            <li>
                                <img src="../../assets/images/trust1.png" alt="">
                            </li>
                        </div>
                        <div class="col-xl-3 col-lg-3 wow fadeInLeft" data-wow-delay="1.2s">
                            <li>
                                <img src="../../assets/images/trust2.jpeg" alt="">
                            </li>
                        </div>
                        <div class="col-xl-3 col-lg-3 wow fadeInLeft" data-wow-delay="0.8s">
                            <li>
                                <img src="../../assets/images/trust3.png" alt="">
                            </li>
                        </div>
                    </div>
                    <!-- container -->
                </div>
            </div>
            <!-- end clients -->
            <!-- contact -->
            <div id="contact" class="contact">
                <!-- contact container -->
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 wow fadeInUp">
                            <h2>Contact</h2>
                        </div>
                        <div class="col-xl-6 col-lg-6">
                            <div class="input-group input-group-lg wow fadeInUp" data-wow-delay="0.8s"> <span class="input-group-addon" id="sizing-addon1"><i class="fa fa-user" aria-hidden="true"></i></span>
                                <input type="text" class="form-control" aria-describedby="sizaing-addon1" placeholder="Full Name">
                            </div>
                            <div class="input-group input-group-lg wow fadeInUp" data-wow-delay="1.2s"> <span class="input-group-addon" id="sizing-addon1"><i class="fa fa-envelope" aria-hidden="true"></i></span>
                                <input type="text" class="form-control wow fadeInUp" aria-describedby="sizaing-addon1" placeholder="Email Address">
                            </div>
                            <div class="input-group input-group-lg wow fadeInUp" data-wow-delay="1.6s"> <span class="input-group-addon" id="sizing-addon1"><i class="fa fa-phone-square" aria-hidden="true"></i></span>
                                <input type="text" class="form-control" aria-describedby="sizaing-addon1" placeholder="Phone Number">
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6">
                            <div class="input-group wow fadeInUp" data-wow-delay="2s">
                                <textarea name="" id="feedback" cols="80" rows="6" class="form-control"></textarea>
                            </div>
                            <button class="btn btn-lg wow fadeInUp" data-wow-delay="2.4s">Submit Your Message</button>
                        </div>
                    </div>
                    <!-- container -->
                </div>
            </div>
            <!-- end contact -->
            <!-- footer -->
            <div id="footer" class="footer">
                <!-- footer container -->
                <div class="container">
                    <div class="row">
                        <div class="col-xl-4 col-lg-4">
                            <h4>Contact Us</h4>
                            <p><i class="fa fa-home" aria-hidden="true"></i>Greater Noida</p>
                            <p><i class="fa fa-envelope" aria-hidden="true"></i>niit@tech.com</p>
                            <p><i class="fa fa-phone-square" aria-hidden="true"></i>+91-1234567891</p>
                            <p><i class="fa fa-globe" aria-hidden="true"></i>www.agproma.com</p>
                        </div>
                        <div class="col-xl-4 col-lg-4">
                            <h4>About</h4>
                            <p><i class="fa fa-square-o" aria-hidden="true"></i>About Us</p>
                            <p><i class="fa fa-square-o" aria-hidden="true"></i>Privacy</p>
                            <p><i class="fa fa-square-o" aria-hidden="true"></i>Term &amp; Conditions</p>
                        </div>
                        <div class="col-xl-4 col-lg-4">
                            <h4> Stay in Touch </h4>
                            <i class="social fa fa-facebook" aria-hidden="true"></i>
                            <i class="social fa fa-twitter" aria-hidden="true"></i>
                            <i class="social fa fa-linkedin" aria-hidden="true"></i>
                            <i class="social fa fa-youtube" aria-hidden="true"></i> <i class="social fa fa-github" aria-hidden="true"></i>
                            <br>
                            <input type="email" placeholder="Subscribe For Updates">
                            <button class="btn btn-success">Subscribe</button>
                        </div>
                    </div>
                    <!-- end container -->
                </div>
            </div>
            <!-- end body -->
       
        <!-- end html -->