.container-fluid {
  font-family: 'Raleway', Arial, sans-serif;
}
.sprint {
    margin-right: 1em;
}
.list {
  overflow-y: auto;
  height: 500px;
}
.backlogItmes {
    height: 100%;
}
p {
  text-align: justify;
}
#header_sprint {
    background: #009999;
    padding-left: 20px;
    margin: 0px;
    padding: 10px;
    border-radius: 5px;
    color: #fff;
    text-align: center;
}

.date{
  margin-right: 5px;
}
.datelabelS {
  padding-top: 10px;
}
.datelabelE {
  padding-left: 60px !important;
  padding-top: 10px;
}
.story {
  padding-left: 10px;
}
.story_name {
  margin-bottom: 10px;
}
#header_backlog_items {
    background: #009999;
    padding-left: 20px;
    margin: 0px;
    padding: 10px;
    border-radius: 5px;
    color: #fff;
    text-align: center;
}
a {
  color: whitesmoke;
  text-decoration: none;
}
.card-header {
  background-color: #32456d;
  color: whitesmoke;
}
.card-text {
    text-align: justify;
    word-wrap: break-word;
}
.stories_Sprint {
  padding: 5px;
  border: 2px solid rgb(116, 115, 115);
  border-radius: 5px;
  margin-right: 10px;
}
@media screen and (max-width: 575px) {
    .sprint {
        margin-right: 0em;
    }
}
textarea {
    height: 6em;
}
ul {
    list-style:none
  }
    li::before{
        content:"\2022";
        color:transparent
    }
    .card-header{
        margin-bottom: 10px;
    }
  .card-text li{
    width: 200px;
    height: 20px;
    margin: 5px 20px 5px 20px;
  }
.dark_header {
    margin: 0px;
    padding: 10px;
    border-radius: 5px;
    color: #fff;
    font-size: 14px;
    text-align: center;
  }
  fieldset.custom {
    border: 1px solid #ddd;
    position: relative;
    margin-top: 15px;
    margin-bottom: 25px;
    padding: 5px 10px 10px 0px;
    background-color: #fbfbfb ;
    border-radius: 5px;
  }
  .no-margin {
    margin: 0 !important;
  }
  .test_q_list_item.active {
    border: 1px solid #1BA9F9 ;
    background: #fff;
  }
  .test_q_list_item {
    padding: 8px;
    border-radius: 5px;
    margin-bottom: 5px;
    border: 1px solid #ddd;
    background: #f9f9f9 ;
    position: relative;
  }
  #test_questions_wrapper, .test_q_list_item {
   
    user-select: none;
  }
  .div_with_left_icon {
    position: relative;
    min-height: 50px;
  }
  li{
    display: inline;
  }
  .container-fluid{
    color: grey
  }
  .mdl {
    font-family: 'Raleway', Arial, sans-serif;
  }
  #myModal{
  margin: auto;
  }
    .modal-header{
      background-color: #32456d;
      color:white;
    
    }
    #addBtn{
    float: right;
    border-radius: 5px;
    size:200px;
    }
    #closeBtn{
      background-color:white;
    }
    #addBtn:hover{
      color: white;
    }
    
    .modal_btns {
        margin-top: 1em;
        float: right;
    }
    button.addButton {
      font-family: 'Raleway', Arial, sans-serif;
      border: none;
      background-color: #000000;
      border-radius: 5px;
      color: #ffffff;
      cursor: pointer;
      padding: 10px 30px;
      display: inline-block;
      margin: 15px 30px;
      text-transform: uppercase;
      line-height: 1.5em;
      font-weight: 400;
      font-size: 1em;
      outline: none;
      position: relative;
      -webkit-transition: all 0.3s;
      transition: all 0.3s;
    }
    button.addButton span {
      display: inline-block;
      -webkit-transition: all 0.3s;
      transition: all 0.3s;
      opacity: 0.8;
      -webkit-transition-delay: 0.3s;
      transition-delay: 0.3s;
    }
    button.addButton i {
      font-size: 28px;
      text-align: center;
      width: 100%;
      top: 50%;
      left: 0;
      display: block;
      position: absolute;
      opacity: 0;
      -webkit-transform: translate(0, -50%);
      transform: translate(0, -50%);
      -webkit-transition: all 0.3s;
      transition: all 0.3s;
      -webkit-transition-delay: 0s;
      transition-delay: 0s;
    }
    button.addButton:before {
      content: '';
      top: 0;
      left: 50%;
      right: 50%;
      position: absolute;
      height: 100%;
      background: rgba(255, 255, 255, 0.15);
      -webkit-transition: all 0.3s;
      transition: all 0.3s;
      -webkit-transition-delay: 0.15s;
      transition-delay: 0.15s;
    }
    button.addButton:hover span,
    button.addButton.hover span {
      opacity: 0;
      -webkit-transition-delay: 0s;
      transition-delay: 0s;
    }
    button.addButton:hover i,
    button.addButton.hover i {
      opacity: 1;
      -webkit-transition-delay: 0.2s;
      transition-delay: 0.2s;
    }
    button.addButton:hover:before,
    button.addButton.hover:before {
      left: 0;
      right: 0;
      -webkit-transition-delay: 0s;
      transition-delay: 0s;
    }
    button.addButton:active:before {
      background: rgba(255, 255, 255, 0.3);
    }
    @import url(https://fonts.googleapis.com/css?family=Raleway:400,500);
    @import url(https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);
    button.submit {
      font-family: 'Raleway', Arial, sans-serif;
      border: none;
      background-color: #009999;
      border-radius: 5px;
      color: #ffffff;
      cursor: pointer;
      padding: 10px 40px;
      display: inline-block;
      margin: 15px 30px;
      text-transform: uppercase;
      line-height: 1.5em;
      font-weight: 500;
      font-size: 1em;
      outline: none;
      position: relative;
      opacity: 1;
      -webkit-transition: all 0.3s;
      transition: all 0.3s;
    }
    button.submit span {
      display: inline-block;
      -webkit-transition: all 0.3s;
      transition: all 0.3s;
      opacity: 0.8;
      -webkit-transition-delay: 0.3s;
      transition-delay: 0.3s;
    }
    button.submit i {
      font-size: 28px;
      text-align: center;
      width: 100%;
      top: 50%;
      left: 0;
      display: block;
      position: absolute;
      opacity: 0;
      -webkit-transform: translate(0, -50%);
      transform: translate(0, -50%);
      -webkit-transition: all 0.3s;
      transition: all 0.3s;
      -webkit-transition-delay: 0s;
      transition-delay: 0s;
    }
    button.submit:before {
      content: '';
      top: 0;
      left: 50%;
      right: 50%;
      position: absolute;
      height: 100%;
      background: rgba(255, 255, 255, 0.15);
      -webkit-transition: all 0.3s;
      transition: all 0.3s;
      -webkit-transition-delay: 0.15s;
      transition-delay: 0.15s;
    }
    button.submit:hover span,
    button.submit.hover span {
      opacity: 0;
      -webkit-transition-delay: 0s;
      transition-delay: 0s;
    }
    button.submit:hover i,
    button.submit.hover i {
      opacity: 1;
      -webkit-transition-delay: 0.2s;
      transition-delay: 0.2s;
    }
    button.submit:hover:before,
    button.submit.hover:before {
      left: 0;
      right: 0;
      -webkit-transition-delay: 0s;
      transition-delay: 0s;
    }
    button.submit:active:before {
      background: rgba(255, 255, 255, 0.3);
    }
    .unassigned_backlogs {
      overflow-y:auto;
      height:500px;
    }
    .panel {
      overflow-y: auto;
    }
    .sprints {
      text-align: justify;
    }
    .card:hover {
      box-shadow: 0 0 11px rgba(33,33,33,1);
    }
  .card-header .tool {
    position: relative;
    display: inline-block;
 }
 
 .fa{
   float: right;
   margin: 0px 10px;
 }
 .tool .tooltiptext {
    visibility: hidden;
    width: 200px;
    height: 90px;
    background-color: #2F2E2E;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
 
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
 }
 
 .tool:hover .tooltiptext {
    visibility: visible;
 }