.container-fluid {
  font-family: 'Raleway', Arial, sans-serif !important;
}
.containerBlock
{
  text-align: center;
}
@import url(https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);

.KanbanLogo {
  font-family: 'Raleway', Arial, sans-serif;
  position: relative;
  display: inline-block;
  color: black;
  margin: 20px ;
  max-width: 350px;
  width: 100%;
  text-align: center;
  font-size: 16px;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

.KanbanLogo h1,
.KanbanLogo h5 {
  margin: 0;
  text-transform: uppercase;
}

.KanbanLogo h1 {
  font-family: 'Teko', Arial, sans-serif;
  font-weight: 700;
  font-size: 54px;
  padding: 0;
  text-align: center;
  margin: 0;
  line-height: 27px;
}

.KanbanLogo h5 {
  background-color: #ABABAB;
  color: #212121;
  display: inline-block;
  font-size: 0.6em;
  font-weight: 700;
  line-height: 18px;
  padding: 0 20px;
  position: relative;
}

.KanbanLogo h5:before,
.KanbanLogo h5:after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  top: 2px;
  border-width: 9px 5px;
  border-style: solid;
  opacity: 0.8;
}


.KanbanLogo h5:before {
  right: 100%;
  border-color: #bdbdbd #bdbdbd #bdbdbd transparent;
}

.KanbanLogo h5:after {
  left: 100%;
  border-color: #bdbdbd transparent #bdbdbd #bdbdbd;
}

.KanbanLogo h6 {
  margin: 0;
  display: inline-block;
  position: relative;
  text-transform: uppercase;
}

.KanbanLogo h6:before,
.KanbanLogo h6:after {
  position: absolute;
  height: 2px;
  content: '';
  width: 30px;
  top: 50%;
  border-top: 2px solid #bdbdbd;
  border-bottom: 2px solid #bdbdbd;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.KanbanLogo h6:before {
  left: -35px;
}

.KanbanLogo h6:after {
  right: -35px;
}

.KanbanLogo i {
  font-size: 22px;
  line-height: 36px;
}


.tableHead{
  width : 33.33%;
}

/* Demo purposes only */

body {
  background-color: #212121;
  text-align: center;
}
.heading {
  background-color: #32456d;
  color: whitesmoke;
  width: 100%;

}
ul,li{
  list-style:none;
  word-wrap: break-word;
}
ul #todo p{
  text-decoration:none;
  color:white;
  display:block;
  background: #DD1D1D;
  max-height: auto;
  height:auto;
  width:15em;
  padding: 1em 0em;

  box-shadow: 5px 5px 7px rgba(33,33,33,.7);

}

ul #doing p{
  text-decoration:none;
  color:black;
  display:block;
  background: #f5e626;
  max-height: auto;
  height:auto;
  width:15em;
  padding: 1em 0em;

  box-shadow: 5px 5px 7px rgba(33,33,33,.7);
}

ul #done p{
  text-decoration:none;
  color:white;
  size: 10px;
  display:block;
  background: #17AB14;
  max-height: auto;
  height:auto;
  width:15em;
  padding: 1em 0em;

  box-shadow: 5px 5px 7px rgba(33,33,33,.7);

}

ul #slipped p{
  text-decoration:none;
  color:white;
  size: 10px;
  display:block;
  background: #1B83C9;
  max-height: auto;
  height:auto;
  width:15em;
  padding: 1em 0em;

  box-shadow: 5px 5px 7px rgba(33,33,33,.7);

}


ul li{
  float:left;
}


.read-more-state {
  display: none;
}

.read-more-target {
  opacity: 0;
  max-height: 0;
  font-size: 0;
  transition: .25s ease;
}

.read-more-state:checked ~ .read-more-wrap .read-more-target {
  opacity: 1;
  font-size: inherit;
  max-height: 999em;
}

.read-more-state ~ .read-more-trigger:before {
  content: 'Show more';
}

.read-more-state:checked ~ .read-more-trigger:before {
  content: 'Show less';
}

.read-more-trigger {
  cursor: pointer;
  display: inline-block;
  padding: 0 .5em;
  color: #666;
  font-size: .9em;
  line-height: 2;
  border: 1px solid #ddd;
  border-radius: .25em;
}

/* Other style */ 
body {
  padding: 2%;
}

p {
  padding: 2%;
  background: #fff9c6;
  color: #c7b27e;
  border: 1px solid #fce29f;
  border-radius: .25em;
}

u:hover{
 text-decoration: none;
}
/*new css*/
.custom-box{
  height: 310px;
  margin-top: 20px;
  margin-left: 62px;
  border: 1px solid;
  overflow: auto;
}
.header{
  padding-top: 1px;
  padding-bottom: 1px;
  margin-left: -15px;
  margin-right: -15px;
  background-color: #e3f2fd;
}
.custom-th{
  background-color: #e3f2fd;
}








